@font-face {
  font-family: "LED";
  src: url(Digital7Mono-Yz9J4.ttf);
}

#wrapper {
  display: flex;
  justify-content: center;
}

#buttons {
  display: flex;
}

#numbers {
  display: flex;
  flex-wrap: wrap;
}

#numbers button {
  flex: 33%;
  color: salmon;
}

#operations {
  display: flex;
  flex-direction: column;
}

#calc {
  background-color: purple;
  border: 1px solid purple;
  border-radius: 4px;
}

#calc button {
  cursor: pointer;
  background-color: ivory;
  border: 1px solid purple;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 20px;
  font-weight: bold;
}

#display {
  background-color: papayawhip;
  color: salmon;
  padding: 4px;
  text-align: right;
  border: 1px solid purple;
  border-radius: 4px;
  font-size: 32px;
  font-family: "LED";
  height: 32px;
}

#calc #add, #calc #subtract, #calc #multiply, #calc #divide {
  background-color: peachpuff;
  color: purple;

}

#calc #equals {
  background-color: lightsalmon;
  color: purple;
}